body{
  background-color:#D8D8D8;
  color: #434343;
  font-family: 'Montserrat', sans-serif;
}
.container{
  display: grid;
  height: 100vh;
  grid-template-columns:1fr 1fr;
    grid-template-rows: 4fr 3fr 3fr;
    grid-template-areas: 
    "div1 div2"
    "ab ab"
    "footer footer";

}
#div1{
  grid-area: div1;
  margin-top:50px;
  padding-top:200px;
  text-align:center;
  
}
#div2{
  background:white;
  grid-area: div2;
  padding-top:50px;
  margin-top:50px;
  margin-right:70px;
  margin-left:70px;
  text-align:center;
  



}

form div {
  text-align: left;
  padding:20px 100px 0px;
  font-size:16px;
}
select {
  border:0px;
  width: 410px;
  height: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  --khtml-border-radius: 40px;
  text-indent: 7px;
  overflow: hidden;
  outline: 0;
  text-align: center;
  background-color: rgba(103, 103, 103, 0.2);
}
input.rounded {
  border-radius: 20em;
  font-size: 16px;
  padding: 4px 7px;
  outline: 0;
  width: 400px;
  height: 40px;
  -webkit-appearance: none;
  background-color: rgba(103, 103, 103, 0.2);
  border: 0px;
}

input.rounded:focus {
  border-color: #339933;
}
#attach {
  cursor: pointer;
  height: 100px;
  width: 200px;
  border: 1px dashed;
  display: inline-block;
  text-align: center;
}
#upload-file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
button.ro {
  padding: 0.6em 2em;
  border-radius: 20em;
  color: #fff;
  background-color: black;
  font-size: 1.1em;
  border: 1px solid black;
  cursor: pointer;
  margin: 1em;
  width: 350px;
}
#ab{
  background:white;
  grid-area: ab;
  margin-top:60px;
  height: 700px;
  margin-bottom: 0px;
  padding-left: 200px;
  padding-top: 100px;
  padding-right: 100px;
  padding-bottom:0px;
}
#footer{
  color: white;
  background:black;
  grid-area: footer;
  text-align:center;
  padding: 40px 15px;
  
}
@media only screen and (max-width: 1000px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 4fr 2.5fr 2fr;
    grid-template-areas: 
    "div1"
    "div2"
    "ab"
    "footer"; 
  }
}
