#attach {
  cursor: pointer;
  height: 100px;
  width: 400px;
  border: 1px dashed;
  display: inline-block;
  text-align: center;
}

#upload-file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.cen {
  align-items: center;
  border-radius: 40px;
}
button.ro {
  padding: 0.6em 2em;
  border-radius: 20em;
  color: #fff;
  background-color: black;
  font-size: 1.1em;
  border: 0;
  cursor: pointer;
  margin: 1em;
  width: 350px;
}
.pad span,
p,
h3,
h2,
span {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8em;
  margin-top: 0px;
}
#bc {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
}
#bc h1,
p {
  font-size: 16px;
}
#wc {
  background-color: #fff;
  height: 700px;
  margin-bottom: 0px;
  padding-left: 300px;
  padding-top: 100px;
  padding-right: 500px;
}
#s1 {
  height: 700px;
  margin-bottom: 0px;
  padding-left: 250px;
  padding-top: 100px;
  padding-right: 500px;
  text-align: center;
}
input.rounded {
  border-radius: 20em;
  font-size: 16px;
  padding: 4px 7px;
  outline: 0;
  width: 400px;
  height: 40px;
  -webkit-appearance: none;
  background-color: rgba(103, 103, 103, 0.2);
  border: 0px;
}

input.rounded:focus {
  border-color: #339933;
}
body {
  background-color: #d3d3d3;
  padding: 0;
  margin: 0;
  color: #434343;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  text-align: center;
  float: left;
  width: 40%;
  padding: 10px;
  height: 70%;
}
.row {
  margin: 25px 10px 75px;
  padding-left: 0px;
  padding-top: 100px;
  padding-right: 0px;
  align-items: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
label {
  text-align: left;
  padding: 10px;
}
form {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 0px;
  padding-left: 100px;
  padding-top: 75px;
  padding-right: 500px;
  text-align: left;
}
form div {
  text-align: left;
}
select {
  width: 400px;
  height: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  --khtml-border-radius: 40px;
  text-indent: 7px;
  overflow: hidden;
  outline: 0;
  text-align: center;
  background-color: rgba(103, 103, 103, 0.2);
  border: 0px;
}
#s2 {
  text-align: center;
}
